.site__header {
  background: url('/images/bg-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  padding: 8vh 20px 10vh 20px;
  @include media($small) {
    padding: 20vh 20px 30vh 20px;
  }
}


.navigation__anchor {
  @include media($small) {
    @include span-columns(2);
  }
}

nav.site__navigation {
  @include media($small) {
    @include span-columns(10);
    text-align: right;
  }
}


.header-hero {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 60%;
}
