<div class="module__thirds">
  <div class="content">
    <h2 class="module-title">Contact Us</h2>
    <h3 class="module-subtitle">We'd love to talk about your next project</h3>
    <form class="contact-form" action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post">

      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />

      <!-- all your input fields here.... -->
      <label for="name">Name</label>
      <input type='text' name='name' />
      <label for="email">Email</label>
      <input type='email' name='email' />
      <label for="message">Message</label>
      <textarea name="message"></textarea>

      <input type='submit' value="Submit" />
    </form>

  </div>
</div>
