<div class="module__thirds alternate">
  <div class="content">
    <h2 class="module-title">Our Services</h2>
    <h3 class="module-subtitle">Orin's approach is quite simple - to be large enough to provide all resources needed for turnkey solutions, still small enough to have a clear customer focus.</h3>
    <br>
    <section class="panel">
      <h4 class="centered">Network Deployment and Integration</h4>
      <p>Orin USA has built a <strong>Global</strong> reputation for providing high quality consulting services to the telecommunications industry and to industry segments requiring medium-to-large scale network deployments.</p>
    </section>
    <section class="panel">
      <h4 class="centered">Carrier Professional Services</h4>
      <p>Orin USA’s Carrier Professional Services (CPS) Group provides professionals to telecommunications carriers throughout the United States. Our understanding of this area of the telecom industry assures our clients that we can quickly and correctly identify their needs AND the professionals to fulfill them, contributing to their project or team in an expeditious and profitable manner.</p>
    </section>
    <section class="panel">
      <h4 class="centered">Information &amp; Techcnology Services</h4>
      <p>Orin USA’s Information and Technology Services (ITS) Group handles the professional recruiting services for our client’s needs in the information systems areas.</p>
    </section>
  </div>
</div>
